.u-section-1 .u-sheet-1 {
  min-height: 2859px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 46px;
  margin-bottom: 40px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 29px) calc(50% - 29px);
  grid-gap: 58px 58px;
  min-height: 2001px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-1 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-2 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-3 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-4 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-5 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-6 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-7 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-8 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-9 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 18px;
}

.u-section-1 .u-image-10 {
  height: 344px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 8px 9px 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 10px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2533px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1650px;
  }

  .u-section-1 .u-image-1 {
    height: 284px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 284px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 284px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 284px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 284px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 284px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 284px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    height: 284px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    height: 284px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    height: 284px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6495px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 435px;
  }

  .u-section-1 .u-image-2 {
    height: 435px;
  }

  .u-section-1 .u-image-3 {
    height: 435px;
  }

  .u-section-1 .u-image-4 {
    height: 435px;
  }

  .u-section-1 .u-image-5 {
    height: 435px;
  }

  .u-section-1 .u-image-6 {
    height: 435px;
  }

  .u-section-1 .u-image-7 {
    height: 435px;
  }

  .u-section-1 .u-image-8 {
    height: 435px;
  }

  .u-section-1 .u-image-9 {
    height: 435px;
  }

  .u-section-1 .u-image-10 {
    height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5435px;
  }

  .u-section-1 .u-image-1 {
    height: 326px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 326px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-3 {
    height: 326px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-4 {
    height: 326px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-5 {
    height: 326px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-6 {
    height: 326px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-7 {
    height: 326px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-8 {
    height: 326px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-9 {
    height: 326px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 9px;
  }

  .u-section-1 .u-image-10 {
    height: 326px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4215px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    height: 205px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    height: 205px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-3 {
    height: 205px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-4 {
    height: 205px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-5 {
    height: 205px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-6 {
    height: 205px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-7 {
    height: 205px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-8 {
    height: 205px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-9 {
    height: 205px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-10 {
    height: 205px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 0;
}

.u-section-3 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 60px;
}